.container {
  background-color: white;
  padding: 0 var(--site-padding);
  min-height: 100vh;
}

.container.dark {
  background-color: var(--dark-mode-background);
  color: white !important;
}

.header {
  padding: 3rem 0;
}

.button {
  padding: .5rem 1.75rem;
  background-color: var(--light-mode-elements);
  border: 1px solid var(--light-mode-elements-border);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: var(--light-mode-input);
}

.button.dark {
  background-color: var(--dark-mode-elements);
  border: none;
  color: var(--dark-mode-input);
}

.button span {
  margin-left: .5rem;
}

.button:hover {
  cursor: pointer;
}

.country {
  display:flex;
  flex-direction: row;
}

.flag-container {
  width: 40rem;
}

.flag {
  border: none;
  width: 100%;
  aspect-ratio: 3 / 2;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.meta-data {
  padding: 1rem 0 0 5rem;
}

.meta-data-columns {
  display: flex;
  flex-direction: row;
}

.meta-data-column {
  padding: 0 4rem 4rem 0;
}

.meta-data-column div {
  padding: .25rem 0;
}

.label, .name {
  font-weight: 900;
  white-space: nowrap;
}

.name {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.meta-data-footer {
  display: flex;
  flex-direction: row;
}

.empty {
  margin-left: .5rem;
}

.border-countries {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .5rem;
  padding-left: .5rem;
}