.country {
  border: 1px solid var(--light-mode-elements-border);
  border-radius: 3px;
  padding: 0 1rem;
}

.country.dark {
  border: 1px solid var(--dark-mode-elements);
  background-color: var(--dark-mode-elements);
}

.country:hover {
  cursor: pointer;
}