.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--site-padding);
}

.search-outer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--site-padding);
}

.search-container {
  background-color: var(--light-mode-elements);
  padding-left: 1.5rem;
  border-radius: 5px;
}

.search {
  padding: 1rem;
  outline: none;
  border: none;
  background-color: var(--light-mode-elements);
  color: var(--light-mode-input);
  border-radius: 5px;
  font-size: var(--font-size);
}

.search {
  width: 25rem;
}

.search::placeholder {
  color: var(--light-mode-input);
}

.label {
  font-weight: 900;
}