.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--site-padding)
}

.search-container {
  background-color: var(--light-mode-elements);
  padding-left: 1.5rem;
}

.search, .filter {
  padding: 1rem;
  outline: none;
  border: none;
  background-color: var(--light-mode-elements);
  color: var(--light-mode-input);
}

.search {
  width: 25rem;
}

.search::placeholder {
  color: var(--light-mode-input)
}

/* .filter {

} */