.country, .flag-container {
  width: 20rem;
}

.country {
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.country.light {
  background-color: white;
}

.country.dark {
  background-color: var(--dark-mode-elements);
}

.country:hover {
  cursor: pointer;
}

.flag-container {
  height: 12rem;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.1);
}

.flag {
  border-radius: 5px 5px 0 0;
  height: 100%;
  width: 100%;
}

.meta-data {
  padding: 1rem 1rem 3rem 1rem;
}

.meta-data.dark {
  color: white !important;
}

.label, .name {
  font-weight: 900;
}

.name {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}