:root {
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--font-size);
  color: var(--light-mode-text);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background-color: var(--light-mode-background);
}

.app-container {
  width: var(--desktop-width);
  margin: 0 auto;
}
